{% extends 'base.html.twig' %}

{% block title %}Hello StaticPageController!{% endblock %}

{% block body %}
    <div class="mt-5 ml-5">
    <a class="btn btn-warning" href="blog">Aller sur notre blog !</a>
    </div>
{% endblock %}
